.login {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loginTitle {
  font-size: 50px;
  font-weight: 500;
}
.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.loginForm > label {
  margin: 10px 0;
}
.loginInput {
  padding: 10px 4px;
  border-radius: 5px;
  width: 350px;
}
.loginInput:focus {
  outline: none;
}
.loginButton {
  margin-top: 20px;
  background-color: #1d293a;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid #dee2e6;
  transition: .3s;
}
.loginButton:hover {
  background-color: #dc3545;
  border: 1px solid #dc3545;
  transition: .3s;
}
.loginButton:disabled {
  cursor: not-allowed;
  background-color: indianred;
}





@media screen and (max-width: 400px) {
  .login {
    background:#1d293a;
  }
  .loginInput {
    width: 100%;
  }
  .loginButton {
    width: 100%;
  }
}