h2.posts {
    overflow: hidden;
    margin-top: 50px;
}
.tabList {
    margin: 40px 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
ul.tabList a {
    text-decoration: none;
    background: black;
    padding: 5px 20px;
    color: #fff;
    text-transform: capitalize;
    border-radius: 5px;
}
ul.tabList a:hover {
    background-color: #dc3545;
}
@media screen and (max-width: 792px) {
    .tabList {
        margin-top: -25px;
        margin-bottom: 30px
    }
    .post_sub {
        margin-bottom: 60px;
    }
}
.posts_section {
    margin-top: 40px;
}
@media screen and (max-width: 762px) {
    h2.posts_section  {
        margin-top: 10px;
    }
}
@media screen and (max-width: 600px) {
    h2.posts_section  {
        margin-top: 30px;
    }
}
@media screen and (max-width: 550px) {
    h2.posts_section  {
        margin-top: 0px;
    }
}
@media screen and (max-width: 500px) {
    h2.posts_section  {
        margin-top: -30px;
    }
}
@media screen and (max-width: 450px) {
    h2.posts_section  {
        margin-top: -70px;
    }
}
@media screen and (max-width: 400px) {
    h2.posts_section  {
        margin-top: -90px;
    }
}
@media screen and (max-width: 370px) {
    h2.posts_section  {
        margin-top: -100px;
    }
}
@media screen and (max-width: 350px) {
    h2.posts_section  {
        margin-top: -130px;
    }
}
