@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0
}
html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}
ul {
    margin: 0;
    padding: 0
}
ul li {
    font-family: 'Plus Jakarta Sans', sans-serif;
    list-style: none
}
p {
    font-family: 'Arimo', sans-serif;
    line-height: 24px;
    font-size: 18px;
}
